@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
	height: 100%; 
	margin: 0; 
	padding: 0;
	background-color: #571845;
	align-content: center;
	text-align: center;
}

#logo-container {
	display:inline-block;
	background-color: black;
	margin: 5rem;
	font-size: 2.75rem;
	color: #ffffff;
	font-family: 'Press Start 2P', cursive;
}

#allBox {
	background-color: #000000;
	color: white;
}

#chattingBox {
	height: 500px;
	width: 100%;
	overflow-y: auto;
}

.connect {
	padding: 1rem;
	display: block;
	margin: 2rem;
	background-color: #14148C; 
}

.disconnect {
	padding: 1rem;
	display: block;
	margin: 2rem;
	background-color: #571845; 
}

.me {
	text-align: start;
	margin: 1.5rem 0 0 2.5rem;
}

.other {
	text-align: end;
	margin: 1.5rem 2.5rem 0 0;
}